# AUTHOR : SACHIN PATEL 
## M.S. Scholar 
## IIT Madras

___

# Python Handy Commands

---

### How to take space separated input?

In [1]:
n,m = map(int,input().split())

5 2

### How to convert any integer to octal, hexadecimal and binary?

In [2]:
number = 42

# Octal representation
octal_value = oct(number)
print("Octal:", octal_value)

# Hexadecimal representation
hexadecimal_value = hex(number)
print("Hexadecimal:", hexadecimal_value)

# Binary representation
binary_value = bin(number)
print("Binary:", binary_value)

Octal: 0o52
Hexadecimal: 0x2a
Binary: 0b101010

### Binary, hexadecimal, octal start with 0b, 0x and 0o respectively.

In [3]:
def print_formatted(number):
    width = len(bin(number)[2:])
    for i in range(1, number + 1):
        decimal = str(i)
        octal = oct(i)[2:]
        hexadecimal = hex(i)[2:].upper()
        binary = bin(i)[2:]
        print(decimal.rjust(width), octal.rjust(width), hexadecimal.rjust(width), binary.rjust(width))
  

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

23
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001
   18    22    12 10010
   19    23    13 10011
   20    24    14 10100
   21    25    15 10101
   22    26    16 10110
   23    27    17 10111

### Range function returns values upto n-1

In [4]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

### Search for null rows or columns in pandas dataframe

In [5]:
# df = pandas dataframe
null_rows_idx = df.isnull().any(axis=1)
# Locating the null entries
df.loc[null_rows_idx]

NameError: name 'df' is not defined

### How to print first N alphabets?

In [ ]:
import string
N = int(input("Value of N: "))
alpha = string.ascii_lowercase[:N]
for i in alpha:
    print(i)

### Alphabet Rangoli Pattern

In [ ]:
def rangoli(n):
    alpha = string.ascii_lowercase[:n]
    width = 4*n-3
    for i in range(n-1,0,-1):
        if n==1:
            print(alpha)
        else:
            row = "-".join(alpha[i:n])
            pattern = row[::-1] + row[1:]
            print(pattern.center(width,"-"))
    if n==1:
        print(alpha)
    else:
        middle_row = "-".join(alpha[::-1]) + "-" + "-".join(alpha[1:])
        print((middle_row).center(width,"-"))
    
    for i in range(1,n):
        if n==1:
            print(alpha)
        else:
            row = "-".join(alpha[i:n])
            pattern = row[::-1] + row[1:]
            print(pattern.center(width,"-"))

In [ ]:
if __name__=="__main__":
    n = int(input())
    rangoli(n)

### How to capitalize a letter of a word?

In [ ]:
def solve(s):
    spt= s.split(" ")
    new_list = []
    for i in spt:
        word = i.capitalize()
        new_list.append(word)
   
    return(" ".join(new_list))

solve(input())

### How to convert a string into a list of single characters?

In [ ]:
s = 'Raymondstt'
t = [] 
for i in range(len(s)):
    t.append(s[i])
    print(t)

### How to convert a string into unique substrings each of length specified by the user?

In [ ]:
import textwrap
c = textwrap.wrap(s,2)
for i in c: 
    p = ""
    for j in i:
        if j not in p:
            p = p + j
    print(p)

### The list(map(...)) construct
**Helps you iterate over each character in a list.**

In [ ]:
numbers = [1,2,3,4,5]
squared_num = list(map(lambda x: x**2, numbers))
print(squared_num)

### How to take input on separate lines and convert it into lists/arrays ?

In [ ]:
import numpy as np
lst = [np.array(input().split(), int) for _ in range(2)]
lst

In [ ]:
# Or you can try the following 
a1 = list(map(int,input().split()))
a2 = list(map(int,input().split()))
print(a1,"\n",a2)

### Permutations of an iterable

In [ ]:
l1 = ['a','b','c']
sd = 'sac'
from itertools import permutations
print(permutations(l1))
print(list(permutations(l1)))
print(list(permutations(sd)))

### Counter tool
<br>

collections.Counter() <br>
A counter is a container that stores elements as dictionary keys, and their counts are stored as dictionary values.

In [ ]:
from collections import Counter
myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]
print(Counter(myList))

In [ ]:
# Items od dictionary in ascending order
print(Counter(myList).items())

In [ ]:
print(Counter(myList).keys())

In [ ]:
print(Counter(myList).values())

### How to append keys and elements to a dictionary?

In [ ]:
# X = no. of shoes
# N = no. of customers
# sizes = list of available sizes
# Next N lines contain two space separated values, one is size and next is the price paid by customer
if __name__=="__main__":
    X = int(input())
    sizes = list(map(int,input().split()))
    N = int(input())
    dic = {}
    for i in range(N):
        inp = input().split()  
        key = int(inp[0])      
        value = int(inp[1])    
        dic[key] = value
    print("Resulting Dictionary: ",dic)

### Intro to Sets 

A set is an unordered collection of elements without duplicate entries.

When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

Basically, sets are used for membership testing and eliminating duplicate entries.

In [ ]:
print(set("Sachin"))

In [ ]:
print(set([1,1,2,2,3,3,4,4,5,5,8]))

In [ ]:
print(set({'sac':23,'amt':24}))

In [ ]:
myset = set(['a', 'b'])
myset

In [ ]:
myset.add('c')
myset

In [ ]:
myset.add((5, 4))
myset

In [ ]:
myset.update([1, 2, 3, 4]) # update() only works for iterable objects
myset

In [ ]:
myset.update({1, 7, 8})
myset

In [ ]:
myset.update({1, 6}, [5, 13])
myset

---

**Both the discard() and remove() functions take a single value as an argument and removes that value from the set. If that value is not present, discard() does nothing, but remove() will raise a KeyError exception.**

---

In [ ]:
myset.discard(10)
myset

In [ ]:
myset.remove(13)
myset

### COMMON SET OPERATIONS Using union(), intersection() and difference() functions.

In [6]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}
a.union(b) # Values which exist in a or b

{2, 4, 5, 9, 11, 12}

In [7]:
a.intersection(b) # Values which exist in a and b

{2, 4}

In [8]:
a.difference(b) # Values which exist in a but not in b

{5, 9}

In [9]:
a.union(b) == b.union(a)

True

In [10]:
a.intersection(b) == b.intersection(a)

True

In [11]:
a.difference(b) == b.difference(a)

False

### Finding average of distinct elements in a set

In [ ]:
def average(array):
    # your code goes here
    heights = set(array)
    avg = print(f'{float(sum(list(heights)))/float(len(heights)):.3f}')
    return avg
    

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

### DefaultDict tutorial

In [2]:
from collections import defaultdict
d = defaultdict(list)
d['python'].append("awesome")
d['something-else'].append("not relevant")
d['python'].append("language")
d

defaultdict(list,
            {'python': ['awesome', 'language'],
             'something-else': ['not relevant']})

In [3]:
for i in d.items():
    print(i)

('python', ['awesome', 'language'])
('something-else', ['not relevant'])

### Enumerate function and its use

In [8]:
# enumerate takes two arguments, an iterable, for ex. a list or a tuple, and starting index, 
# i.e. from what index to start
a = [10,20,30,40]
temp=list(enumerate(a,start=1))
temp

[(1, 10), (2, 20), (3, 30), (4, 40)]

### Calendar Module
This class can be used to generate plain text calendars.
The firstweekday parameter is set to 3, which corresponds to Wednesday. This means that the week will start with Wednesday as the first day, and the remaining days of the week will follow in their regular order (Thursday, Friday, Saturday, Sunday, Monday, Tuesday).

In [10]:
import calendar
print(calendar.TextCalendar(firstweekday=3).formatyear(2023))

                                  2023

      January                   February                   March
Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We      Th Fr Sa Su Mo Tu We
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [13]:
date=list(map(int,input().split()))

08 05 2002

In [14]:
date

[8, 5, 2002]

### Handling Exceptions

**ZeroDivisionError**

This error is raised when the second argument of a division or modulo operation is zero.

**ValueError**

This error is raised when a built-in operation or function receives an argument that has the right type but an inappropriate value.

In [16]:
if __name__=="__main__":
    t=int(input())
    for i  in range(t):
        t1, t2 = input().split()
        try:
            print(int(t1)//int(t2))
        except ZeroDivisionError as e:
            print("Error Code:",e)
        except ValueError as v:
            print("Error Code:",v)

2
1 3
0
1 $
Error Code: invalid literal for int() with base 10: '$'

---

### collections.namedtuple()

#### Basically, namedtuples are easy to create, lightweight object types.
#### They turn tuples into convenient containers for simple tasks.
#### With namedtuples, you donâ€™t have to use integer indices for accessing members of a tuple.

In [1]:
from collections import namedtuple
Point = namedtuple('Point','x,y')
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
dot_product

11

In [2]:
Car = namedtuple('Car','Price Mileage Colour Class')
xyz = Car(Price = 100000, Mileage = 30, Colour = 'Cyan', Class = 'Y')
xyz

Car(Price=100000, Mileage=30, Colour='Cyan', Class='Y')

In [3]:
xyz.Class

'Y'

In [4]:
xyz.Mileage

30

## Unpacking data or elements

In the example, the \* operator unpacks the list elements into separate arguments, which are then used to create a new instance of the Student named tuple.

Using the \*input().split() in the line student(\*input().split()) is a concise way to create a new instance of the named tuple student with the input data assigned to its fields. The elements read from the input line will be assigned to the corresponding fields of the named tuple.

In [9]:
students = [student(*input().split()) for _ in range(n)]